// $red: #ef476f;
// $yellow: #ffd166;
// $green: #06d6a0;
// $blue: #118ab2;

$red: #e62e2e;
$yellow: #fff351;
$green: #06d629;
$blue: #29b0e6;

// $light: #e5e8ec;
// $light1: #eaebec;
// $light2: #FED2AA;
//$light1: #F3F0D7;

